ListyCity/local.properties
ListyCity/.idea
ListyCity/build
ListyCity/.gradle
ListyCity/local.properties
ListyCity/.gradle/config.properties
ListyCity/.gradle/file-system.probe
ListyCity/.gradle/8.13/checksums/checksums.lock
ListyCity/.gradle/8.13/executionHistory/executionHistory.bin
ListyCity/.gradle/8.13/executionHistory/executionHistory.lock
ListyCity/.gradle/8.13/fileHashes/fileHashes.bin
ListyCity/.gradle/8.13/fileHashes/fileHashes.lock
ListyCity/.gradle/8.13/fileHashes/resourceHashesCache.bin
ListyCity/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ListyCity/.gradle/buildOutputCleanup/outputFiles.bin
ListyCity/.idea/gradle.xml
ListyCity/.idea/misc.xml
ListyCity/.idea/caches/deviceStreaming.xml
ListyCity/build/reports/problems/problems-report.html
